.container {
 height: 300px;
 width: 100%;
 display: flex;
 position: relative;
 display: flex;
 overflow-x: scroll;
 margin-top: 100px;
}

.button-left {
 position: absolute;
 height: 100%;
 width: 30px;
 left: 0;
 opacity: 0.5;
}

.button-right {
 position: absolute;
 height: 100%;
 right: 0;
 opacity: 0.5;
}

.scrollable {
 display: flex;
 overflow-x: scroll;
}